@font-face {
  font-family: "MinionPro";
  src: local("PT Sans"), url("../font/MinionPro-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "MinionPro";
  src: local("PT Sans"), url("../font/MinionPro-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  }