/* colors */

$body-bg: #236f93;
$catalog-bg: #70c05b;
$white: #ffffff;
$black: #000000;
$opacity0: rgba(0 0 0 / 0);
$hero-font-color: #414141;
$sale-count-bg: #ff6633;
$normal-price-color: #606060;
$sale-price-color: #414141;
$orange: #ff6633;
$gray: #606060;
$dark-green: #84bcb1;
$adv-color: hsl(0, 0%, 90%);
$droped-link-hover: #d9d9d9;
$droped-link-hover1: #d6d7d6;
$steps__border-top: rgb(147, 188, 180);
$steps__border-top1: #c7d9c6;
$steps__title1: rgb(58, 58, 58);
$vk-fill: #0077ff;
$watsapp-fill: #25d366;
$nav-color: #662626;
$nav-color-hover: #c48a8a;
$logo-color: #3a6883;
$logo-color-hover: #669ec0;
$logo-color-active: #81b3d2;
$pink: #ffdbdb;
$green: #008000;
$header-shadow-down: 2px 4px 8px rgba(0, 0, 0, 0.1);
$cart-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);

/* gradients */

$blue-grad: rgb(107, 218, 235);
$transparent: rgba(0, 0, 0, 0);

$header-gradient: linear-gradient(90deg, $blue-grad 2.5%, $transparent 2.5%, $transparent 5%, $blue-grad 5%, $blue-grad 7.5%, $transparent 7.5%, $transparent 10%, $blue-grad 10%, $blue-grad 12.5%, $transparent 12.5%, $transparent 15%, $blue-grad 15%, $blue-grad 17.5%, $transparent 17.5%, $transparent 20%, $blue-grad 20%, $blue-grad 22.5%, $transparent 22.5%, $transparent 25%, $blue-grad 25%, $blue-grad 27.5%, $transparent 27.5%, $transparent 30%, $blue-grad 30%, $blue-grad 32.5%, $transparent 32.5%, $transparent 35%, $blue-grad 35%, $blue-grad 37.5%, $transparent 37.5%, $transparent 40%, $blue-grad 40%, $blue-grad 42.5%, $transparent 42.5%, $transparent 45%, $blue-grad 45%, $blue-grad 47.5%, $transparent 47.5%, $transparent 50%, $blue-grad 50%, $blue-grad 52.5%, $transparent 52.5%, $transparent 55%, $blue-grad 55%, $blue-grad 57.5%, $transparent 57.5%, $transparent 60%, $blue-grad 60%, $blue-grad 62.5%, $transparent 62.5%, $transparent 65%, $blue-grad 65%, $blue-grad 67.5%, $transparent 67.5%, $transparent 70%, $blue-grad 70%, $blue-grad 72.5%, $transparent 72.5%, $transparent 75%, $blue-grad 75%, $blue-grad 77.5%, $transparent 77.5%, $transparent 80%, $blue-grad 80%, $blue-grad 82.5%, $transparent 82.5%, $transparent 85%, $blue-grad 85%, $blue-grad 87.5%, $transparent 87.5%, $transparent 90%, $blue-grad 90%, $blue-grad 92.5%, $transparent 92.5%, $transparent 95%, $blue-grad 95%, $blue-grad 97.5%, $transparent 97.5%, $transparent 100%, $blue-grad 100%);

// linear-gradient(90deg, $blue-grad 2.5%, $transparent 2.5%, $transparent 5%, $blue-grad 5%, $blue-grad 7.5%, $transparent 7.5%, $transparent 10%, $blue-grad 10%, $blue-grad 12.5%, $transparent 12.5%, $transparent 15%, $blue-grad 15%, $blue-grad 17.5%, $transparent 17.5%, $transparent 20%, $blue-grad 20%, $blue-grad 22.5%, $transparent 22.5%, $transparent 25%, $blue-grad 25%, $blue-grad 27.5%, $transparent 27.5%, $transparent 30%, $blue-grad 30%, $blue-grad 32.5%, $transparent 32.5%, $transparent 35%, $blue-grad 35%, $blue-grad 37.5%, $transparent 37.5%, $transparent 40%, $blue-grad 40%, $blue-grad 42.5%, $transparent 42.5%, $transparent 45%, $blue-grad 45%, $blue-grad 47.5%, $transparent 47.5%, $transparent 50%, $blue-grad 50%, $blue-grad 52.5%, $transparent 52.5%, $transparent 55%, $blue-grad 55%, $blue-grad 57.5%, $transparent 57.5%, $transparent 60%, $blue-grad 60%, $blue-grad 62.5%, $transparent 62.5%, $transparent 65%, $blue-grad 65%, $blue-grad 67.5%, $transparent 67.5%, $transparent 70%, $blue-grad 70%, $blue-grad 72.5%, $transparent 72.5%, $transparent 75%, $blue-grad 75%, $blue-grad 77.5%, $transparent 77.5%, $transparent 80%, $blue-grad 80%, $blue-grad 82.5%, $transparent 82.5%, $transparent 85%, $blue-grad 85%, $blue-grad 87.5%, $transparent 87.5%, $transparent 90%, $blue-grad 90%, $blue-grad 92.5%, $transparent 92.5%, $transparent 95%, $blue-grad 95%, $blue-grad 97.5%, $transparent 97.5%, $transparent 100%, $blue-grad 100%) 

/* vars */

$transition-slow: all 0.5s ease-in-out;
$transition-fast: all 0.2s ease-in-out;


/* keyframes */

@keyframes cloud-animation {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
